/*
 * Estilos de tu proyecto
 */
/*Reseteando el css*/
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }


 .text-uppercase {
     text-transform: uppercase;
 }

 /*Style to header*/
 header {
     position: fixed;
     width: 100%;
     background-color: #2e3c50;
     height: 120px;
     top: 0;
     overflow: auto; 
 }

.nav-principal {
    display: inline-block;
}

 .menu {
    list-style: none;
    float: right;
    margin-right: 200px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 120px;
}

 .logo a, .menu a {
     color: #fff;
     text-decoration: none;
     list-style: none;
 }

 /*Style to bootstrap*/
.logo {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 200px;
    line-height: 120px;
}

/*Style to menu*/
.menu li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 10px;  
}

.menu a:hover {
    color: #18bc9c;
}

/*style to section : start*/

.start {
 margin-top: 120px;
 background-color: #18bc9c;
 width: 100%;
}

.start figure img {
    margin-top: 80px;
    margin-bottom: 40px;  
    padding: auto;
}




