/*
 * Estilos de tu proyecto
 */

/*Reseteando el css*/
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

/*Creando la clase text-uppercase para cambiar los textos a mayúsculas*/
 .text-uppercase {
     text-transform: uppercase;
 }

 /* Inicio de header*/
 header {
     background-color: #2e3c50;
     position: fixed;
     width: 100%;
     height: 120px;
     overflow: auto; 
     top: 0;
     z-index: 1000;
 }

 /*Navegador principal*/
.nav-principal {
    display: inline-block;
}

/*Menú de navegación*/
.menu {
    float: right;
    line-height: 120px;
    list-style: none;
    margin-right: 200px;
    margin-top: 0;
    margin-bottom: 0;   
}

/*Etiquetas a, ubicadas dentro del logo y el menú*/
 .logo a, .menu a {
     color: #fff;
     list-style: none;
     text-decoration: none;    
 }

 /*Estilo al logotipo bootstrap*/
.logo {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 120px;
    margin-left: 200px;  
}

/*Estilo a la lista del menu*/
.menu li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 10px;  
}

.menu a:hover {
    color: #18bc9c;
}


/* Inicio de la sección Start */

.start {
    background-color: #18bc9c;
    margin-top: 120px;
    width: 100%;
}

/*Creando la clase container que se aplicará al div principal de las secciones*/
.container {
    margin: auto;
    text-align: center;
    position: relative;
    width: 100%;
}

/*Contenedor de la imagen profile*/
.start .profile {
    display: block;
    margin:  auto;
    margin-bottom: 40px;
    padding-top: 80px;
}

/*Título principal de la sección */
.start h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 700;
}

/*Pseudo elemento después de h1*/
 .title h1::after {
    content: "";
    background-color: #fff;
    display: block;
    height: 5px;
    width: 7%; 
    margin-top: 35px;
    margin-left: 650px;
}

/*Contenedor del ícono star*/
.star-title {
 color: #fff;
 display: inline-block;
 font-size: 30px;
 position: relative;
 bottom: 20px;
}

/*Pseudo elemento después de star*/
.star-title::after {
    content: "";
    background-color: #fff;
    display: inline-block;
    height: 5px;
    width: 300%;
    position: relative;
    bottom: 41px;
    left: 55px; 
}

/*Subtítulo h3, con selector id*/
#not-uppercase h3 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 60px;
    position: relative;
    bottom: 30px;   
}


/*Inicio de la sección portfolio*/

/*Subtítulo h2*/
.portfolio h2 {
    color: #212529;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px; 
    padding-top: 40px;  
}

/*Línea del subtítulo*/
.star-line {
    border-color: #2c3e50;
    background-color: #2c3e50;
    display: inline-block;
    margin: 10px auto;
    width: 7%;
    height: 5px;    
}

/*Icono estrella*/
.star-portfolio-blue {
    color:#2c3e50;
    display: inline-block;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px; 
    position: relative;
    bottom: 5px;
}

/* Imágenes del portafolio, división del contenedor. */
div.images-container {
    column-count: 3;
    column-gap: 15px;
    margin: 10px auto 100px;
    width: 70%;    
}

/* Imagen: cabin */
div.cabin {
    background-image: url("../assets/images/portfolio/cabin.png");
    background-size: cover;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}

/* Imagen: cake */
div.cake {
    background-image: url("../assets/images/portfolio/cake.png");
    background-size: cover;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}

/* Imagen: circus */
div.circus {
    background-image: url("../assets/images/portfolio/circus.png");
    background-size: cover;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}

/* Imagen: game */
div.game {
    background-image: url("../assets/images/portfolio/game.png");
    background-size: cover;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}

/* Imagen: safe */
div.safe {
    background-image: url("../assets/images/portfolio/safe.png");
    background-size: cover;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}

/* Imagen: submarine */
div.submarine {
    background-image: url("../assets/images/portfolio/submarine.png");
    background-size: cover;
    margin-bottom: 25px;
    width: 350px;
    height: 250px;
}

/*Icono zoom */
div.zoom {
    width: 350px;
    height: 250px;
    background-color: #18bc9c;
    visibility: hidden;
}

div.zoom i {
    font-size: 60px;
    color: #fff;
    line-height: 250px;
}

div.selection:hover div.zoom {
visibility: visible;
cursor: pointer;
}



/* Inicio de la sección :about*/


.about {
    background-color: #18bc9c;
}

.about .second-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 100px;
    margin-bottom: 0;
}

/*Línea debajo del título*/
hr.line-about {
    background-color: #fff;
    border-color: #fff;   
    display: inline-block;
    margin: 10px auto;    
    width: 7%;
    height: 6px;   
}

/*Icono estrella*/
.star-about {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: 5px;
}

/*División del contenedor del texto*/
div.text-columns {
    column-count: 2;
    column-gap: 15px;
    margin: auto;
    width: 45%;  
}

/*Estilo a los párrafos*/
div.text-columns p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
    text-transform: none;   
}

/*Button dowlaod*/
button.dowload {
    background-color: #18bc9c;
    border: solid #fff;
    border-radius: 5px;
    margin-bottom: 100px;
    padding: 10px 15px;   
}

/*Ícono dentro de button*/
button.dowload i {
    color: #fff;
    font-size: 20px;
    padding-right: 2px;
}

/*Estilo a la etiqueta a dentro de button dowload*/
button.dowload a{
    color: #fff;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

/*Estilo de hover*/
button.dowload:hover {
    cursor: pointer;
    background-color: #fff;   
}

button.dowload a:hover {
    color: #18bc9c; 
}

button.dowload a i:hover {
    color: #18bc9c; 
}


/*Inicio de la sección contact*/

/*Subtítilo */
.contact h2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 100px;
}

/*Línea e ícono debajo de h2*/
hr.line-contact {
    border-color: #2c3e50;
    background-color: #2c3e50;
    display: inline-block;
    margin: 20px auto;  
    width: 7%;
    height: 6px;
}

.star-contact {
    color: #2c3e50;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;  
    position: relative;
    bottom: 15px;
}

/*Formulario */
form {
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: left;
    width: 50%;
}

form div {
    border-bottom: 1px solid rgba(134,144,150, 0.5);
    margin-bottom: 30px;
    width: 100%;    
}

form div.message {
    height: 200px;
}

/*Etiqueta input */
input {
    border: none;
    color: #8e8696;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 30px;   
    outline: none;
}

/*Botón de envío del formulario */
form button {
    background-color: #18bc9c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
}

form button:hover {
    background-color: #169b80;
}


/* Inicio de footer*/

footer {
    color: #fff;
    background-color: #2c3e50;
    padding-top: 50px;   
}

footer div.content {
    width: 90%;
    margin: auto;
    overflow: auto;
}

/*Subtítulo h3*/
footer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
}

/*Texto de footer*/
footer p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-transform: none;
}

/*Estilo a los contenedores de texto*/
footer div.location, div.around, div.about-freelancer {
    float: left;
    margin-right: 50px;
    text-align: center;
    width: 22%;
}

div.location {
    margin-left: 150px;
}

footer div.around div {
    display: inline-block;
    margin-right: 5px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

/*Estilo a las etiquetas a y hover */
footer div.around a {
    color: #fff;
}

footer div.around .link:hover {
    background-color: #fff;
}

footer div.around .link i:hover {
color: #18bc9c;
}

div.about-freelancer {
  width: 27%;
}

div.about-freelancer a {
 color: #18bc9c;
 text-decoration: none;
}

div.about-freelancer a:hover {
    text-decoration-line:  underline;
   }
footer #copyright {
    clear: both;
    padding-top: 100px;
    padding-bottom: 30px;  
    position: relative;
    right: 50px;   
}

footer #copyright p {
    font-size: 15px;
}



